// Partial SCSS file containing typefaces declarations

/* ============================================
TYPEFACES
============================================ */

/* === GENERAL SANS =========================== */
@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-Extralight.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-Extralight.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
}
 
@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-ExtralightItalic.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-ExtralightItalic.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-ExtralightItalic.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: italic;
}

@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-Light.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-Light.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-LightItalic.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-LightItalic.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
}

@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-Regular.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-Regular.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-Italic.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-Italic.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
}


@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-Medium.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-Medium.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-MediumItalic.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-MediumItalic.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
}

@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-Semibold.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-Semibold.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-SemiboldItalic.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-SemiboldItalic.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-SemiboldItalic.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: italic;
}

@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-Bold.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-Bold.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'General Sans';
    src: url('/typefaces/GeneralSans/GeneralSans-BoldItalic.woff2') format('woff2'),
         url('/typefaces/GeneralSans/GeneralSans-BoldItalic.woff') format('woff'),
         url('/typefaces/GeneralSans/GeneralSans-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
}